* {
	box-sizing: border-box;
}


body {
	padding: 0;
	margin: 0;
	background: #eee;
}


h3 {
	margin-top: 0;
}


.main-wrapper {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}


header {
	background: #fff;
	padding: 10px 0;
	box-shadow: 0 0 2px 0 rgba(0,0,0,.2);
}


header .main-wrapper {
	display: flex;
	justify-content: space-between;
	align-items:center;
}


header .logo img {
	height: 30px;
	margin-right: 10px;
}


.search input {
	width: 350px;
	height: 30px;
	padding: 5px;
	outline: none;
}


.search button {
	color: #2A2A2A;
	text-align: center;
	height: 30px;
	border: 1px solid gray;
	cursor: pointer;
    width: 65px;
    border-radius: 0 2px 2px 0;
}


.video-list {
	padding: 60px 0;
}


.video-list  h3{
	cursor: pointer;
}


.video-list > div {
	display: flex;
	margin-bottom: 20px;
}


.video-list > div > img{
	cursor: pointer;
	margin-right: 20px;
}

.video-list div section {
	width: 800px;
}

#img-wrap {
	width: 350px;
	text-align: center;
	cursor: pointer;
}

.video-preview button {
	margin: 5px;
	padding: 5px;
}